body	{
		margin:0px;
		font-family:Tahoma;
		
		}

.Banner	{	
		width: 88%;
		margin-top:40px;
		margin-bottom:0px;	
		padding:0px;
		bottom:0;
		clear:both;
		}
header{
		margin:0px;
		padding:0px;
		}
.Banner-top	{	
		position: absolute;
		z-index:+1;
		margin-top:0;
		margin-left:0;
		padding-top:0;
		padding-left:0;
		margin-bottom:0px;
		}
.Title		{
		position:absolute;
		font-weight:bold;
		font-size:300%;
		text-align: center;
		top:40px;
		left:0px;
   		width: 88%;
		margin:0px;
		padding:0px;
		}
.Title:hover	{
		color:white;
		cursor:pointer;
		}
nav a		{
		color:#888888;
		display: block;
		text-decoration:none;
		margin:0px;
		padding:0px;
		}
a:hover		{
		color:black;
		}
nav  ul		{
		list-style-type:none;
		margin: 0px;
    		padding: 0px;
		line-height:2.5;
		
		clear:both;
		position:relative;
		top:0;
		}
nav 		{
		float:left;
		background-color:#bbccdd;
		height:800px;
		width:150px;
		padding:0px;
		margin-top:-3px;
		clear:both;
		}
nav ul li	{
		padding-top:5px;
		padding-bottom:5px;
		border-bottom:solid 1px #888888;
		margin-left:12px;
		margin-right:12px;
		font-weight: bold;
	
		}
		.hh{
			margin-top:22px;
		}
section		{
		
		
		width:88%;
		float:left;
		margin-top:-22px;
		margin-left:1.5px;
		
		
		
	
		}
h2		{
		margin-top:0px;
		}
		
.forprint{
			visibility:hidden;
			position:absolute;
			}
.main		{
	
		margin:0px;
		position:relative;
		left:40px;
		padding:0px;
		clear:both;

		}
figure		{
		position:relative;
		float:left;
		margin:0;
		padding:5px;
		}
figcaption	{
		text-align:center;
		}
section p	{
		text-indent: 40px;
		}
footer ul	{
		
		padding-top:20px;
		list-style-type:none;
		text-align:center;
		font-weight: bold;
		border-top: solid 2px black;
		clear:both;
		width:85%;
		}