<!DOCTYPE html>
<html>
    <head>
        <title>{{ page.title }}</title>
        <!-- link to main stylesheet -->
        <link rel="stylesheet" type="text/css" href="/css/main.css">

    </head>
    <body>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/resume">Resume</a></li>
                <li><a href="/examples">Examples</a></li>
                <li><a href="/connect">Connect</a></li>

            </ul>
        </nav>
        <div class="container">

            {{ content }}

        </div><!-- /.container -->
        <footer>
            <br>
            <ul>
                <li><a href="mailto:jobanaulakh@rocketmail.com">E-mail</a></li>
                <li><a href="https://www.linkedin.com/in/j0ban/">Linkedin</a></li>
            </ul>
        </footer>
    </body>
</html>
